body{
    text-align: center;
    width: ;
    padding: 0px;
    margin: 0px;
}
.contain{
    margin: 0px;
    padding: 0px;
}
.align-cen{
    text-align: center;
    font-size: 1rem;
    height: 80vh;
    color: white;
    padding: 20vh 0vw 0vh 0vw;
}
.bottom{
    padding: 12vh 0vw 0vh 0vw;
}
.col-md{
    margin-right: 2vw;
    margin-bottom: 2vw;
} 
.container{
    margin-top: 10px;
}
.bg-two{
    height: 400px;
    color: white;
}
.service{
    padding: 10vh 0vw 0vh 0vw;
}
